.navbar
{
    background-color: #5FC0C7;
}

.navbar-brand
{
    font-weight: 500;
    color: white;
}

.nav-link
{
    color: white;
    font-size: 1.2em;
    margin-left:20px;
    font-weight:700;
}

.navbar img
{
    margin-right: 50px;
}

.footer {
    width: 100%;
    height: 7vh; /* Set the fixed height of the footer here */
    line-height: 7vh;
    background-color: #5FC0C7;
    color: white;
    font-size: 1.1em;
    font-weight:500;
}

.cover {
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 93vh;
}

@keyframes arrowHome {
    from { transform: translateY(0); }
    to   { transform: translateY(2vh); }
}

.arrow-home
{
    color: white;
    position: absolute;
    bottom:13vh;
    right:7vh;
    animation: arrowHome 1.5s ease-in-out -1s infinite running;
}
