{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="row no-gutters cover" style="background-image:url('{{ asset('images/cover.jpg') }}')">
        <span class="text-home  d-none d-sm-none d-md-block">Bienvenue sur SnowTricks, LE site communautaire 100% snowboard !</span>
        <span class="text-homeMobile  d-block d-md-none">SnowTricks, LE site communautaire 100% snowboard !</span>
        <a href="{{ path('home_page') }}#tricksList" class="arrowHome" title="Voir les figures">
            <span class="arrow-home">
                <i class="fas fa-chevron-circle-down fa-5x  d-none d-sm-none d-md-block"></i>
            </span>
            <span class="arrow-homeMobile">
                <i class="fas fa-chevron-circle-down fa-3x  d-block d-md-none"></i>
            </span>
        </a>
    </div>
    <div class="row no-gutters" id="tricksList">
        <p>


            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac iaculis purus, pharetra fermentum nisl. Mauris eu lectus blandit, gravida turpis sit amet, ornare nulla. Vestibulum velit nulla, congue non leo vitae, scelerisque viverra enim. Nunc faucibus leo nisi, a molestie ante efficitur ut. Ut quis tellus vehicula leo interdum sagittis. Sed interdum ante a massa lobortis semper. Nulla malesuada consequat pulvinar. Suspendisse mollis eleifend sapien, eget viverra tellus volutpat et. In a nulla auctor, efficitur libero et, aliquet libero. Mauris nec ante eget elit consequat cursus. Ut id varius diam. Nulla commodo sagittis orci, et dictum lectus finibus eu. Vestibulum rutrum lacus eget libero accumsan tincidunt. Donec nulla tellus, consectetur pulvinar neque vitae, molestie vestibulum leo. Donec et ante eget leo pharetra maximus.

            Vivamus lacus lacus, facilisis et lacinia eu, fringilla sit amet tellus. Etiam sed eros enim. Duis commodo augue vitae massa tristique finibus. Quisque tempus pharetra purus, ac vestibulum lorem rhoncus eu. Aenean sit amet ante luctus, consequat risus sed, hendrerit risus. Pellentesque ipsum tellus, lobortis a accumsan id, consectetur et massa. Donec tempor, nunc ut feugiat ornare, felis enim sodales turpis, et tristique sem eros vel purus. Proin ultricies arcu non faucibus malesuada.

            Maecenas pretium enim id pulvinar venenatis. Duis porttitor ornare ligula, non maximus odio malesuada non. Donec laoreet, ante sit amet fringilla pellentesque, enim est mattis ante, ut sodales tortor neque ut mi. Mauris hendrerit ipsum arcu, a maximus nisi rhoncus quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas vel odio lectus. Donec nec lorem faucibus, dapibus massa a, porta neque.

            Vivamus posuere, justo sit amet venenatis pulvinar, neque odio dictum odio, vitae iaculis orci ante in tellus. Pellentesque porttitor feugiat metus. Quisque ac aliquam erat. Morbi in magna sem. Sed cursus lectus posuere orci ullamcorper finibus. Duis eget enim ultricies, ultrices massa et, luctus libero. Fusce vitae felis sit amet lacus porttitor laoreet nec tincidunt mauris. Mauris auctor, lectus nec auctor pretium, turpis nunc sagittis nisi, sagittis vestibulum felis diam eu orci. Nullam pharetra, ligula eu sollicitudin imperdiet, orci magna efficitur sem, eu varius neque turpis et augue. Maecenas ut nunc eu ex interdum cursus. Suspendisse sed faucibus massa. Praesent sed tellus odio.

            Nunc pharetra quis erat id aliquet. Nam tortor augue, fermentum nec tempus at, faucibus rhoncus mauris. Maecenas ullamcorper quam tellus, eget mollis metus elementum ac. Nulla placerat laoreet tellus id malesuada. Vestibulum nulla elit, sodales a pharetra vel, ornare in urna. Vivamus quis urna a dui euismod luctus a eget felis. Etiam eget pulvinar odio.

            Maecenas elementum dignissim risus, quis efficitur nisi viverra id. Phasellus vel velit quis leo laoreet iaculis nec sed nisl. Nunc quis congue purus. Morbi interdum purus erat, at accumsan elit gravida dapibus. Aenean suscipit magna dui, quis eleifend sem eleifend a. Donec a metus elit. Vestibulum et vestibulum purus, in cursus dolor. Suspendisse potenti. Aliquam faucibus vehicula luctus. Aenean commodo magna et arcu eleifend, non volutpat orci consequat. Pellentesque id interdum sapien, nec rhoncus enim. Pellentesque aliquet sagittis libero sed porta. Integer eget condimentum eros, ac pretium felis. Duis nec ligula quis leo lobortis posuere. In sed ipsum interdum felis interdum dapibus sit amet et ante. Vivamus fringilla ultricies justo quis sollicitudin.

            Fusce vitae tellus at ligula posuere tincidunt. Sed in quam blandit, sagittis dui at, dignissim magna. Vivamus id vehicula quam. Nam finibus gravida ligula ut iaculis. Duis nulla libero, venenatis ac imperdiet vel, tempus sed metus. Mauris at auctor ex, in tincidunt nulla. Maecenas eu mi sed ante tincidunt imperdiet. Donec posuere dictum velit, et pellentesque quam tincidunt vel. Vivamus vulputate nec odio eu fringilla. Etiam rutrum mi lacus, a vulputate nisi eleifend ut. Quisque luctus lorem eu venenatis efficitur. Suspendisse eget turpis volutpat, tincidunt ex rhoncus, lacinia erat. Vestibulum id nulla egestas, tincidunt elit sit amet, tincidunt augue. Nunc fringilla nulla vel ante molestie, a interdum lectus dignissim. Nam nec purus non neque scelerisque pulvinar. Vestibulum sed consequat tortor, non vehicula lacus.

            Pellentesque vitae ullamcorper felis, at cursus nibh. Sed nec enim laoreet tellus consectetur interdum non eget augue. Fusce non porta ipsum. Quisque iaculis laoreet lorem, non scelerisque tortor hendrerit ut. Nam vestibulum, justo luctus tincidunt vulputate, dui diam viverra est, in luctus tellus arcu quis lectus. Aenean a pulvinar odio. Quisque vulputate porta diam, eu eleifend lacus viverra vel. Praesent id consequat justo. Proin rutrum eget sapien eget tempus.

            Nulla fringilla dignissim scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas justo quam, euismod non dignissim in, mattis ac ipsum. Sed eleifend, ipsum et gravida pellentesque, ligula neque varius sapien, vel molestie elit felis quis ante. Aliquam suscipit ut dui a porta. Donec leo turpis, posuere eget euismod eget, eleifend at mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla libero dolor, semper a suscipit at, vehicula a lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pharetra ultricies venenatis.

            Donec ac sodales eros. In finibus erat condimentum, venenatis dolor ut, accumsan ante. Quisque ut ipsum in urna elementum faucibus quis in libero. Sed aliquam purus venenatis odio aliquet, et ullamcorper erat congue. Mauris fermentum, ligula non blandit posuere, mauris augue consectetur justo, eget vestibulum libero quam non odio. Cras condimentum arcu est, porttitor consequat lacus sollicitudin id. Nam magna risus, imperdiet non lectus et, egestas mattis est. Suspendisse quis tellus nunc. Nulla eget nunc ligula.
        </p>

            <a href="{{ path('home_page') }}#tricksList" class="arrowHome" title="Remonter en haut">
                <span class="arrow-homeUp">
                    <i class="fas fa-chevron-circle-up fa-3x  d-none d-sm-none d-md-block"></i>
                </span>
                <span class="arrow-homeMobileUp">
                    <i class="fas fa-chevron-circle-up fa-2x  d-block d-md-none"></i>
                </span>
            </a>
    </div>
{% endblock %}