<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SnowTricks - Oups !</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/baseErrorPage.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  {% endblock %}

</head>
<body>

<div id="errorBlock">
  <p id="imageError"><img src="{{ asset('images/error.png') }}" alt="Erreur inconnue !" /></p>
  <p>Oups ! Une erreur inconnue est survenue. <br/> Retour à <a href="{{ path('home_page') }}" title="Retour à l'accueil">l'accueil</a></p>
</div>

</body>
</html>